@using ToDoApp.DTO.Response;
@{
    @model List<NoteDto>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab5</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    <main>
        <h1>The list of notes:</h1>
        @foreach (var note in Model)
        {
            <a>@note.Description</a><br>
        }
    </main>
    <script src="index.js"></script>
</body>
</html>
